# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# Databricks
.databricks/

# Datos pesados (no versionar)
data/*.csv
data/*.xlsx
*.parquet

# Sistema
.DS_Store
Thumbs.db

# Notebooks: outputs de Jupyter
*.ipynb_checkpoints/

# Git temporal
*.orig
